h1 {font-weight: bold;
    font-family: "Bookman Old Style" serif;
    color: midnightblue;
    border: solid 2px black;
    width: 500px;
    text-align: center;
}
h2 {font-weight: bold;
    font-family: "Bookman Old Style" serif;
    color: midnightblue;
    border: solid 2px midnightblue;
    width: 150px;
    text-align: center;
}
h3 {font-weight: bold;
    font-family: "Bookman Old Style" serif;
    color: midnightblue;
    border: solid 2px midnightblue;
    width: 400px;
    text-align: center;

}
p {font-family: "Bookman Old Style" serif;
    color: black;
    font-size: 18px;

}
body {background-color: pink;
    background-size: cover;
}

.solid {border-style: solid;
        border-width: 2px;
        border-color: midnightblue;
        padding: 2px;
}
blockquote {
    background-color: orange;
    color: ghostwhite;
    text-align: center;
}
table, td, th, tr {border-spacing: 3px;
    border:2px solid midnightblue;
    background-color: white;
    text-align: center;
    padding: 1px;
}
